body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --button-color-hover: rgba(255, 255, 255, 0.1);
  --button-color-focus: rgba(255, 255, 255, 0.05);
  --textarea-color-focus: rgba(255, 255, 255, 0.0125);
  --border-color: rgba(255, 255, 255, 0.33);
  --border-color-hover: rgba(255, 255, 255, 0.5);
  --border-color-active: rgba(255, 255, 255, 0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root::highlight(search) {
  background-color: rgb(50, 63, 108);
}

:root::highlight(search-inactive) {
  background-color: rgb(91, 49, 46);
}
