.editor {
  display: flex;
  position: relative;
  background-color: var(--theme-background-color);
  overflow: auto;
  caret-color: var(--theme-foreground-color);
  font-size: 10pt;
}

.editor .container {
  position: relative;
  flex: 1;
  min-width: calc(var(--max-char-count) * var(--char-width) * 1px);
  height: calc(var(--line-count) * var(--char-height) * 1px);
}

.editor .container .shiki {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  pointer-events: none;
  font-family: monospace;
  white-space: pre;
}

.editor .container .textarea {
  display: block;
  position: relative;
  z-index: 2;
  transition: color 0.33s;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  resize: none;
  color: white;
  font-size: inherit;
  font-family: monospace;
  text-align: inherit;

  &.hasHast {
    color: transparent;
  }
}

.editor .container .textarea::selection {
  background: var(--theme-selection-color);
}

.editor .container .character {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  pointer-events: none;
}

.editor .container .line {
  height: calc(var(--char-height) * 1px);
}
