.file {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  word-wrap: break-word;
  all: unset;
  display: flex;
  position: sticky;
  top: 0px;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding-bottom: 9px;
  padding-left: 20px;
  min-height: 40px;
  font-size: 12pt;
}
