.searchAndReplace {
  display: grid;
  position: absolute;
  right: 50px;
  grid-template-columns: 1fr 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  transition: transform 0.25s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--background-color);
  padding: 10px;
  width: 400px;

  &:not(.open) {
    transform: translateY(-100%);
  }

  & .searchContainer {
    display: flex;
    position: relative;
    flex: 1;

    & input {
      flex: 1;
    }

    & .searchIcons {
      display: flex;
      position: absolute;
      top: 0px;
      right: 0px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding-right: 4px;
      height: 100%;

      & button {
        padding: 2.5px 5px;
      }
    }
  }

  & .count {
    width: 75px;
  }

  & .iconButton {
    outline: none !important;
    padding: 0px;
    color: var(--border-color);
    font-size: 12pt;
    &:focus,
    &:hover {
      outline: none !important;
      color: white;
    }
  }

  & .row {
    display: flex;
    gap: 5px;
  }
}
